In [ ]:
import numpy as np
import pandas as pd

In [2]:
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 100)

In [3]:
df = pd.read_excel('eletronic_sales.xlsx')
df

         Date Branch Sales Agent Products  Units   Price
0  2014-09-01   Woji     Chinedu    Apple      2  125.00
1  2015-06-17   Woji       Emeka    Apple      5  125.00
2  2015-09-10   Woji     Ibrahim   Lenovo      7    1.29
3  2015-11-17   Woji        Tolu       HP     11    4.99
4  2015-10-31   Woji       Tonye   Lenovo     14    1.29
5  2014-02-26   Woji     Ibrahim   Compaq     27   19.99
6  2014-10-05   Woji      George       HP     28    8.99
7  2015-12-21   Woji       Tonye       HP     28    4.99
8  2014-02-09   Woji        Tolu   Lenovo     36    4.99
9  2015-08-07   Woji       Emeka     Dell     42   23.95
10 2015-01-15   Woji     Ibrahim       HP     46    8.99
11 2014-01-23   Woji       Emeka       HP     50   19.99
12 2015-03-24   Woji        Tolu     Dell     50    4.99
13 2015-05-14   Woji     Ibrahim   Lenovo     53    1.29
14 2015-07-21   Woji      George     Dell     55   12.49
15 2015-04-10   Woji       Tonye   Lenovo     66    1.99
16 2014-12-12   Woji     Chinedu   Lenovo     67    1.29
17 2014-04-18   Woji       Tonye   Lenovo     75    1.99
18 2015-05-31   Woji     Ibrahim       HP     80    8.99
19 2015-02-01   Woji     Chinedu       HP     87   15.00
20 2014-05-05   Woji        Tolu   Lenovo     90    4.99
21 2014-06-25   Woji      George   Lenovo     90    4.99
22 2015-12-04   Woji        Tolu       HP     94   19.99
23 2014-11-25   Woji       Emeka     Dell     96    4.99
24 2015-02-18    GRA    Blessing       HP      4    4.99
25 2014-11-08    GRA      Chioma   Compaq     15   19.99
26 2014-09-18    GRA    Blessing     Dell     16   15.99
27 2014-07-12    GRA     Torbari       HP     29    1.99
28 2014-08-15    GRA    Blessing   Lenovo     35    4.99
29 2014-04-01    GRA    Blessing       HP     60    4.99
30 2014-06-08    GRA    Blessing       HP     60    8.99
31 2015-07-04    GRA    Blessing     Dell     62    4.99
32 2014-10-22    GRA    Blessing   Compaq     64    8.99
33 2014-12-29    GRA      Chioma     Dell     74   15.99
34 2014-07-29    GRA      Chioma       HP     81   19.99
35 2014-01-06    GRA    Blessing   Lenovo     95    1.99
36 2015-04-27    GRA     Torbari   Compaq     96    4.99
37 2015-08-24   Town        Uche    Apple      3  275.00
38 2015-03-07   Town        Uche       HP      7   19.99
39 2014-05-22   Town       Tunde   Lenovo     32    1.99
40 2014-03-15   Town        Uche   Lenovo     56    2.99
41 2015-10-14   Town       Tunde       HP     57   19.99
42 2015-09-27   Town        Uche   Compaq     76    1.99

## Info & Statistics

In [4]:
print('Basic Information:')
print(df.info())
print('\nStatistical Summary:')
print(df.describe())

Basic Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43 entries, 0 to 42
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         43 non-null     datetime64[ns]
 1   Branch       43 non-null     object
 2   Sales Agent  43 non-null     object
 3   Products     43 non-null     object
 4   Units        43 non-null     int64
 5   Price        43 non-null     float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(3)
memory usage: 2.1+ KB
None

Statistical Summary:
                      Date      Units       Price
count                   43  43.000000   43.000000
mean   2014-12-29 00:00:00  49.325581   20.308605
min    2014-01-06 00:00:00   2.000000    1.290000
25%    2014-07-03 12:00:00  27.500000    3.990000
50%    2014-12-29 00:00:00  53.000000    4.990000
75%    2015-06-25 12:00:00  74.500000   17.990000
max    2015-12-21 00:00:00  96.000000  275.000000
std                    NaN  30.078248   47.345118

In [5]:
print('No of Columns with Missing Values:')
print(df.isnull().sum())    
print('\nNo of Duplicated Rows:')
print(df.duplicated().sum())

No of Columns with Missing Values:
Date           0
Branch         0
Sales Agent    0
Products       0
Units          0
Price          0
dtype: int64

No of Duplicated Rows:
0

## Wrangling Data

In [ ]:
df["Year"] = df["Date"].dt.year
print('No of years in our data')
df['Year'].unique()

df["Month"] = df["Date"].dt.month_name()
print('\nNo of months in our data')
df['Month'].unique()

df["Week"] = df["Date"].dt.day_name()
print('\nNo of weeks in our data')
df['Week'].unique()

No of months in our data

array(['September', 'June', 'November', 'October', 'February', 'December',
       'August', 'January', 'March', 'May', 'July', 'April'], dtype=object)

### Total Units Sold

In [7]:
df['Units'].sum()

np.int64(2121)

### Number of Products

In [8]:
df['Products'].nunique()

5

### No of Sales Agents

In [9]:
df['Sales Agent'].nunique()

11

### Total Revenue Generated

In [10]:
df['Revenue'] = df['Units'] * df['Price']
round(df['Revenue'].sum(), 2)

np.float64(19627.88)

### Total Revenue Generated Each Year

In [11]:
df_yearly_revenue = df.groupby('Year')['Revenue'].sum().reset_index()
df_yearly_revenue

   Year   Revenue
0  2014   9258.34
1  2015  10369.54

### Monthly Revenues for Each Year

In [13]:
monthly_revenue = pd.pivot_table(data = df, values = 'Revenue', index = 'Month', columns = 'Year', aggfunc = 'sum')
monthly_revenue

Year          2014     2015
Month
April       448.65   610.38
August      174.65  1830.90
December   1269.69  2018.78
February    719.37  1324.96
January    1188.55   413.54
July       1676.90   996.33
June        988.50   625.00
March       167.44   389.43
May         512.78   787.57
November    778.89    54.89
October     827.08  1157.49
September   505.84   160.27

### Revenue Generated on Each Day of The Week Yearly

In [26]:
df_days_revenue = pd.pivot_table(data = df, values = 'Revenue', index = 'Week', columns = 'Year', aggfunc = 'sum')
df_days_revenue

Year          2014     2015
Week
Friday      410.33  3016.30
Monday     2071.41  1443.76
Saturday    525.00   467.37
Sunday      970.76  2175.44
Thursday   1319.02   490.94
Tuesday    2397.63   991.34
Wednesday  1564.19  1784.39

### Total Revenue Generated By Each Branch

In [14]:
df_branch = df.groupby('Branch')['Revenue'].sum()
df_branch

Branch
GRA      6002.09
Town     2486.72
Woji    11139.07
Name: Revenue, dtype: float64

### Revenue Generated By Each Sales Agent

In [16]:
df_sales_agent = df.groupby('Sales Agent')['Revenue'].sum().sort_values(ascending=False)
df_sales_agent

Sales Agent
Emeka       3109.44
Chioma      3102.30
Tolu        2812.19
Blessing    2363.04
Ibrahim     1749.87
Chinedu     1641.43
George      1387.77
Uche        1283.61
Tunde       1203.11
Torbari      536.75
Tonye        438.37
Name: Revenue, dtype: float64

### Total Units By Product

In [18]:
df_units_product = df.groupby('Products')['Units'].sum().sort_values(ascending = False)
df_units_product

Products
HP        722
Lenovo    716
Dell      395
Compaq    278
Apple      10
Name: Units, dtype: int64

### Revenue Generated By Each Product

In [17]:
df_revenue_product = df.groupby('Products')['Revenue'].sum().sort_values(ascending = False)
df_revenue_product

Products
HP        9577.65
Dell      4169.87
Lenovo    2135.14
Compaq    2045.22
Apple     1700.00
Name: Revenue, dtype: float64