In [2]:
import gdown

In [3]:
file_id = '1yB5qSBOLl96Y563nIewKOU8RN_gsY3dO'  # Make sure it's a string
gdown.download(f'https://drive.google.com/uc?id={file_id}', 'data.csv', quiet=False)

Downloading...
From: https://drive.google.com/uc?id=1yB5qSBOLl96Y563nIewKOU8RN_gsY3dO
To: c:\Users\ncc\Desktop\ai_engineering\module_2\week9\data.csv
100%|██████████| 52.0k/52.0k [00:00<00:00, 43.5MB/s]

'data.csv'

In [8]:
import numpy as np
import pandas as pd
import scipy

In [6]:
# Read the downloaded CSV file
df = pd.read_csv('data.csv')
df.head()

   Unnamed: 0    country food_category  consumption  co2_emission
0           1  Argentina          pork        10.51         37.20
1           2  Argentina       poultry        38.66         41.53
2           3  Argentina          beef        55.48       1712.00
3           4  Argentina     lamb_goat         1.56         54.63
4           5  Argentina          fish         4.36          6.96

In [7]:
df.drop('Unnamed: 0', axis = 1, inplace = True)

In [9]:
from scipy import stats

In [10]:
# Select Argentina beef consumption
arg_beef = df[(df["country"]=="Argentina") & (df["food_category"]=="beef")]

**Task:**
Is the beef consumption in Argentina significantly different from that in Bangladesh?

H₀: Mean beef consumption (Argentina) = Mean beef consumption (Bangladesh)

H₁: Mean beef consumption (Argentina) ≠ Mean beef consumption (Bangladesh)

In [11]:
bang_beef = df[(df["country"]=="Bangladesh") & (df["food_category"]=="beef")]
bang_beef

         country food_category  consumption  co2_emission
1421  Bangladesh          beef         1.28          39.5

In [12]:
arg_beef_sample = np.random.normal(arg_beef['consumption'].mean(), scale = 6, size = 60)
bang_beef_sample = np.random.normal(bang_beef['consumption'].mean(), scale = 6, size = 60)

t_statistic, p_value = stats.ttest_ind(arg_beef_sample, bang_beef_sample)

print('T statistic:', t_statistic)
print('P value:', p_value)

T statistic: 48.39116197138747
P value: 1.1337487640798306e-79

From the results above, I observe that the p-value is less than 0.05, hence it reject our null hypothesis. This implies that there isn't enough statistical evidence to support our claim that `Mean beef consumption (Argentina) = Mean beef consumption (Bangladesh)`.