# **Easy VISA Project**

#### **Phase 1: Data Collection and Preparation**

##### Task 1.1: Loading dataset

In [1]:
# loading dataset

import numpy as np
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/ek-chris/Practice_datasets/refs/heads/main/EasyVisa%20(1).csv")

##### Load the dataset inot a pandas dataframe

In [2]:
df.head(5)

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified

##### Task 1.3 Inspect dataset for missing values and handle them appropriately

In [5]:
df.isna().any()

case_id                  False
continent                False
education_of_employee    False
has_job_experience       False
requires_job_training    False
no_of_employees          False
yr_of_estab              False
region_of_employment     False
prevailing_wage          False
unit_of_wage             False
full_time_position       False
case_status              False
dtype: bool

##### Task 1.4 Perform data cleaning to ensure the dataset is ready for analysis

In [13]:
def clean_data(data):
    missing_data = data.isna().sum()
    if missing_data.sum() == 0:
        print("There are no missing data")
    else:
        data = data.fillna(0)
        print(f"Numbers of missing values before cleaning: {missing_data}")
        print(f"\nNumber of missing values after cleaning: {data.isna().sum()}")

    duplicates = data.duplicated().sum()
    if duplicates.sum() == 0:
        print("There are no duplicated data")
    else:
        data = data.drop_duplicates()
        print(f"Number of duplicated data before cleaning: {duplicates}")
        print(f"\nNumber of duplicated data after cleaning: {data.duplicated().sum()}")

clean_data(df)

There are no missing data
There are no duplicated data

In [15]:
# saving cleaned data
df.to_csv("cleaned_easy_visa.csv", index = False)